node_modules
package-lock.json
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

web3/MyContractAbi.json
web3/MyContractAddress.txt
web3/MyContractBytecode.bin
